div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    margin-bottom: 60px;
}

div > div > ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 55px;
    transform: rotate(45deg);
    position: relative;
}

div > div > ul > button {
    position: absolute;
    inset: 0;
    width: 60px;
    height: 35px;
    margin: auto;
    transform: rotate(-45deg);
}

div > div > ul > li {
    list-style: none;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    
}